@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  /* padding: 8% 0 0; */
  margin: auto;
  margin-top: 0px;
  border-radius: 10px;
  background-color: rgb(55, 49, 66);

  
}

.login {
  color: #ffffff;
  margin-top: 150px;
  margin-bottom: 0px;
  text-align: center;
}




.login_top {
    background: #ffffff;
    max-width: 360px;
    margin-left: 60px;
    margin-top: 0px;

}

.form1 {
  position: relative;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding: 45px;
  text-align: center;
  margin-bottom: 0;
}

.form2 {
  text-align: center;
  padding-bottom: 20px;
}

.form3 {
  color: rgb(133, 138, 133);
  margin-left: 45px;
}

.forgot {

  float: right;
  margin-right: 45px;
  color: rgb(131, 130, 130)
}


.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  padding-bottom: 0px;
 
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}


.body1 {
  background-color: #171122;
}

.button {

  /* -webkit-appearance: none; */
  border: 0;
  outline: 0;

  position: relative;
  /* background: linear-gradient(45deg, $gradient-start 10%, $gradient-end 90%); */

  padding : 0.2rem 2rem;
  /* color: white; */
  border-radius: 200px;
  /* font-size: 1.3rem;
  font-family: "Source Code Pro"; */
  /* transition: .3s; */
}